@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.reason-img {
  max-width: 100%;
}

.section-title {
  fontweight: 600;
  font-size: 28px;
  margin-bottom: 36px;
}

.text-input {
  width: 100%;
  padding: 10px 20px;
  outline: 1px solid #d9d9d9;
  background-color: transparent;
  border: 0;
  transition: 0.5s;
  color: #ffffff;
}

.text-input::placeholder {
  transition: 0.5s;
}

.text-input:focus,
.textarea:focus {
  outline: 2px solid white;
}

.text-input:focus::placeholder {
  letter-spacing: 1.5px;
}

.textarea {
  width: 100%;
  padding: 10px 20px;
  outline: 1px solid #d9d9d9;
  background-color: transparent;
  border: 0;
  transition: 0.5s;
  color: #ffffff;
  resize: none;
}
.css-1ydlrac-MuiButtonBase-root-MuiButton-root {
  line-height: 1.6rem !important;
}
