@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.reason-img {
  max-width: 100%;
}
